# Individual Plan — DSCI 100
**Student:** Jinyi Guo  
**Dataset:** players.csv + sessions.csv

In [2]:
library(tidyverse)
url = 'https://drive.google.com/uc?export=download&id=1QLlHf0yonjQPXTB5Pj8fdTiaITL4qM_2'
players <- read_csv(url)
head(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [4]:
distinct(players, experience)
distinct(players, subscribe)
distinct(players, gender)
players |> summarize(max(played_hours), min(played_hours), max(Age), min(Age))

  experience
1 Pro
2 Veteran
3 Amateur
4 Regular
5 Beginner

  subscribe
1  TRUE
2 FALSE

  gender
1 Male
2 Female
3 Non-binary
4 Prefer not to say
5 Agender
6 Two-Spirited
7 Other

  max(played_hours) min(played_hours) max(Age) min(Age)
1 223.1             0                 NA       NA

### **Data Description**

There are **196 observations** and **9 variables** in this data set, the varibales are: 

- **experience** *(character)* — describes the experience level of players. Including *Pro, Veteran, Amateur, Regular,* and *Beginner.*  
- **subscribe** *(logical)* — indicates whether the player subscribed to game-related information (*TRUE* or *FALSE*).  
- **hashedEmail** *(character)* — this records the hashing encoded email addresses of players.  
- **played_hours** *(double)* — the total time a player spent in the game (in hours), ranging from *0 to 223.1.*  
- **name** *(character)* — player's name.  
- **gender** *(character)* — self-reported gender (e.g., Male, Female, Non-binary, etc.).  
- **age** *(double)* — player’s age, ranging from *8 to 99.*  
- **individualId** *(logical)* — mostly missing (NA) values.  
- **organizationName** *(logical)* — mostly missing (NA) values.

In [5]:
players |> group_by(gender) |> summarize(count=n())

  gender            count
1 Agender             2
2 Female             37
3 Male              124
4 Non-binary         15
5 Other               1
6 Prefer not to say  11
7 Two-Spirited        6